html,body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

main{
  position:fixed;
  width: 100%;
  height:100%;
}

#sketch-container{
  width: 100%;
  height: 100%;
}

nav{
  position: fixed;
  padding:10px 2%;
}

a{
  color:#8791a5;
}
